:root {
  --light: 200;
  --regular: 400;
  --bold: 700;

  --grey: #868583;

  --darkish_grey: #414141;
  --blue: #2564cf;
  --red: #ff4d4d;
  --kinda_white: #faf9f8;
  --soft_blue: #f0f4fa;

  --priority-1: #8e959e;
  --priority-2: #ef4444;
  --priority-3: #eab308;
  --priority-4: #3b82f6;

  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
}
